.register-page {
  padding: 10px;
  /* margin-left: 10%; */

}

.header {
  margin-bottom: 20px;
}

.header h2 {
  margin-bottom: 10px;
}
.date-range{
    display: flex;
    justify-content:space-around;
    align-items: center;
    /* font-size: x-small; */
}

.date-range,
.status-select {
  margin-bottom: 10px;
}

.date-range label,
.status-select label {
  margin-right: 40px;
}

.search-button {
  padding: 10px 20px;
  margin-left: 50px;
  background-color:   #3E74F7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}
table{
    border: none;
}

.table-container {
 font-size: small;
  margin-top: 20px;
}

.data-table {
  width: 100%;
}

.data-table th{
  font-size: small;
}
.data-table th,
.data-table td {
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* .data-table th {
    color: rgb(240, 238, 238);
   
} */
  .add_Entry{
  background-color:  #0056b3 !important;
  color: white;
  max-width: 300px;
  max-height: 80px;
  border-radius:10px ;
  margin-top: 10px;
  position: relative;
  padding: 10px;
  left: 75%;
}

